[Unit]
Description=Encfs vault for %i
After=local-fs.target
 
[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/encfs-vault %i
[Install]
WantedBy=multi-user.target
