[Unit]
Description=Snapshot filesystem daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=btrfs-daily-snapshot.service

[Install]
WantedBy=basic.target
