[Unit]
Description=Snapshot filesystem at boot
After=local-fs.target

[Service]
User=root
Type=oneshot
ExecStart=/usr/local/bin/btrfs-snap boot

[Install]
WantedBy=multi-user.target
